<table>
  <thead>
      <tr>
          <th>Id</th>
          <th>Category</th>
          <!-- <th>createdDTTM</th>
          <th>UpdatedDTTM</th> -->
          
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let category of categories">
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <!-- <td>{{category.createdDTTM}}</td>
          <td>{{category.updatedDTTM}}</td> -->
          
      </tr>
  </tbody>
</table>

<button mat-raised-button color="accent" (click)="addCategory()">Add</button>
